
.form {
    margin: 20px auto;
    display: flex;
    width: 80%;
    padding: 15px 30px;
    border: 1px solid #c1c1c1;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px auto;
  width: 100%;
}

.image {
  display: flex;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  margin: 5px auto;
  max-width: 180px;
  max-height: 150px;
  padding: 4px;
  box-sizing: border-box;
}

.image-inner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.preview-image {
  display: auto;
  width: auto;
  height: 100%;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
    margin: 20px auto !important;
    width: 80% !important;
    min-width: auto !important;
    display: flex !important;
}

.css-1ozfuj6-MuiFormControl-root-MuiTextField-root {
    margin: auto !important;
}

.title {
    margin-left: 20px;
}