.container {
  min-height: 100vh;
  background-color: #eaeef3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  text-align: center;
}

.imageContainer img {
  max-width: 100%;
}

/* .test {
  animation: random 0.1s infinite linear;
}

@keyframes random {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
} */
