.cardContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 3px 3px 9px -4px #000000 ;
}

.cardsContainer{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 100px auto 0 auto;
    gap: 20px;
}

.titleContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}