.player-wrapper {
    width: 100%;
    position: relative;
    margin: 120px auto;
    justify-content: center;
    display: flex;
  }
  .react-player {
    justify-content: center;
    display: flex;
  }